* {
    margin: 0;
    padding: 0;
    height: 100hv;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

div.row {
    background-color: rgb(146, 146, 146);
    display: flex;
    justify-content: space-around;
    flex: 1;
}

div.row div {
    width: 90px;
    font-size: 45px;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

div.row div:hover {
    background-color: rgb(114, 114, 114);
}

div#screen {
    justify-content: flex-end;
    padding-right: 5%;
}